<% layout('layouts/boilerplate')%>
<div class="container-sm">
  <h1>Login</h1>
  <form action="/login" method="POST" novalidate class="validated-form">
    <div class="mb-3">
      <label for="username" class="form-label">Username:</label>
      <input
        class="form-control"
        name="username"
        id="username"
        type="text"
        placeholder="Enter your username"
        required
      />
    </div>

    <div class="mb-3">
      <label for="passowrd" class="form-label">Password:</label>
      <input
        class="form-control"
        name="password"
        id="password"
        type="password"
        placeholder="Enter your password"
        required
      />
    </div>
    <button class="btn btn-success">Login</button>
  </form>
</div>
